node_modules/
dist/
build/
.env
.env.*
logs/
coverage/
pnpm-lock.yaml
api_docs/
Dockerfile
docker-compose.yml
*.log
*.local
*.test.js
*.test.ts
*.spec.js
*.spec.ts
.DS_Store
*.csv
*.pdf
*.xlsx
*.zip
*.tar.gz
*.bak
*.swp
.idea/
.vscode/
dump.rdb
dump.sql
Thumbs.db
.*
*.md